{% extends "base.html" %}

{% block title %}A propos de nous{% endblock %}
{% block content %}
<div class="zone-div">

    <h4><strong>A propos de Smart Park</strong></h4>
    <p>
        Smart Park est un projet visant à améliorer la gestion du stationnement grâce aux nouvelles
        technologies. Smart Park provient du smart parking, concept développé pour répondre aux
        problématiques de recherche d’une place de parking pour les usagers en ville. Le manque
        de place et le délai de stationnement est souvent mal adapté. L’étude du professeur Donald
        Shoup montre que 8% à 74% des zones de bouchons sont provoquées par les automobilistes
        cherchant un stationnement. Notre solution repose sur les fondements du smart parking :
        connaître la disponibilité et prévenir le conducteur. En se basant sur la localisation des places
        d’une ville, Smart Park permet de connaître en temps réel les disponibilités des places de
        parking d’une ville. Le but est d’éviter d’« errer » dans les rues de la ville et permet un gain
        de temps considérable pour l’usager. La ville de Schmilbligheim a été la première ville de France
        à se munir de Smart Park.
    </p>
</div>

<div class="zone-div">

    <h4><strong>Plus qu'une application</strong></h4>
    <p>
        Nous aidons à construire des villes plus intelligentes et plus agréables à vivre - 
        une place de stationnement à la fois.
        <br>
        Avec l'utilisation de la technologie, nous brisons les barrières et 
        contribuons à améliorer l'expérience urbaine. 
        Notre objectif est de créer un scénario où l'offre de stationnement et la 
        demande des conducteurs sont équilibrées non pas en raison de places de stationnement 
        supplémentaires et de moins de voitures, mais grâce à une technologie prédictive qui 
        relie les gens aux places disponibles.
        <br>
        Bref, nous facilitons la vie urbaine.
    </p>
</div>

<div class="zone-div">
    <h4><strong>Nos valeurs</strong></h4>
    <h5>Collaboration</h5>
    <p>
        Nous nous efforçons tous les jours d'apporter le maximum à nos clients et les aider à créer une expérience unique
        avec Smart Park. Nous sommes perduadés que l'expérience du client doit être la chose la plus importante.
    </p>
    <h5>Écologie</h5>
    <p>
        Smart Park est conscient de tous les problèmes écologiques actuels. Nous portons avec notre projet une véritable
        démarche éco-responsable. Il est aujourd'hui urgent que des solutions comme les notres soutiennent et 
        apportent un nouveau souffle à notre planète.
    </p>
    <h5>Changement</h5>
    <p>
        Les nouvelles technologies ont apporté de grands changements dans notre société et Smart Park est une 
        solution qui accompagnera chaque personne dans ces changements.
    </p>
</div>

{% endblock %}