<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/sp-logo.png">
    <link rel="stylesheet" href="https://unpkg.com/carbon-components@10.7.0/css/carbon-components.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block extra_inclusions %}<!-- null -->{% endblock %}
    <title>{% block title %}Smart Park{% endblock %}</title>
</head>
<body>
    {% include "nav.html" %}
    <div class="bx--content">
      {% block content %}Contenu{% endblock %}
    </div>

    <script src="https://unpkg.com/carbon-components@10.7.0/scripts/carbon-components.min.js"></script>
</body>
</html>
