<header class="bx--header" role="banner" data-header>
  <a class="bx--header__name" href="{{ url_for("home") }}">
    <!--<img src="/static/img/sp-logo.png" width="28" height="28"> -->
    <span class="bx--header__name--prefix">Smart</span>
    Park
  </a>

  <nav class="bx--header__nav" data-header-nav>
    <ul class="bx--header__menu-bar" role="menubar">
      <li>
        <a class="bx--header__menu-item" role="menuitem" href="{{ url_for("dashboard") }}" tabindex="0">
          Tableau de bord
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="{{ url_for("zones") }}" tabindex="0">
          Zones
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="{{ url_for("map") }}" tabindex="0">
          Cartes
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="#" tabindex="0">
          Statistiques
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="#" tabindex="0">
          Configuration
        </a>
      </li>

      <li class="bx--header__submenu" data-header-submenu>
        <a aria-expanded="false" aria-haspopup="true" class="bx--header__menu-item bx--header__menu-title" role="menuitem" tabindex="0">
          Plus
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true" class="bx--header__menu-arrow" style="will-change: transform;"><path d="M5 6L0 1 .7.3 5 4.6 9.3.3l.7.7z"></path></svg>
        </a>

        <ul class="bx--header__menu" role="menu">
          <li>
            <a class="bx--header__menu-item" role="menuitem" href="#" tabindex="0">
              A propos
            </a>
          </li>
          <li>
            <a class="bx--header__menu-item" role="menuitem" href="#" tabindex="0">
              Carrières
            </a>
          </li>
          <li>
            <a class="bx--header__menu-item" role="menuitem" href="#" tabindex="0">
              Contact
            </a>
          </li>
          <li>
            <a class="bx--header__menu-item" role="menuitem" href="#" tabindex="0">
              Problèmes
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="bx--header__global">
    <ul class="bx--header__menu-bar" role="menubar">
      <li>
        <a class="bx--header__menu-item" role="menuitem" href="{{ url_for("accounts.signup") }}">
          Inscription
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="{{ url_for("accounts.login") }}">
          Connexion
        </a>
      </li>
    </ul>
  </div>
</header>
