{% extends "base.html" %}

{% block content %}

    {% include "lateral_zone_menu.html" %}

    {% if active_tab_view %}
        <div class="dashboard-widgets">
            {% include "graphic_widget.html" %}
            {% include "zone_summary_widget.html" %}
            {% include "spots-status-widget.html" %}
        </div>
    {% elif active_tab_list %}
        {% include "spot_list_template.html" %}
        {% block extra_inclusions %}
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
        {% endblock %}
    {% elif active_tab_stats %}
        {% include "stats_widget.html" %}
    {% elif active_tab_maintenance %}
        {% include "zone-maintenance.html" %}
    {% elif active_tab_config %}
        {% include "zone_configuration_template.html" %}
    {% endif %}

{% endblock %}