<div class="bx--tile spots-status-widget">
    <h4>État des places</h4>
    <br>
    <a class="bx--btn bx--btn--danger bx--btn--sm" href="#", zone_id=zone_id ) }}">
        <p>0 capteurs déconnectés</p>
    </a>
    <br>
    <a class="bx--btn bx--btn--orange bx--btn--sm" href="#", zone_id=zone_id ) }}">
        <p>0 batteries à changer</p>
    </a>
    <br>
    <a class="bx--btn bx--btn--sm sp-btn-grey" href="{{ url_for("zones.spots", zone_id=zone_id ) }}">
        <p>0 places sans capteurs associés</p>
    </a>
    <br>
    <br>
    <a class="bx--btn bx--btn--primary" type="button" href="{{ url_for("zones.config", zone_id=zone_id ) }}">
        Gérer
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <polygon points="9.3,3.7 13.1,7.5 1,7.5 1,8.5 13.1,8.5 9.3,12.3 10,13 15,8 10,3 "/>
        </svg>
    </a>
</div>