<div class="bx--tile summary-widget">
    
    <h4 class="widget-title">Tous les parkings de {{ tenantInstance.name }}</h4>
    <br>
    <p class="widget-text">{{ tenantInstance.zones.length }} zones configurées</p>
    <p class="widget-text">{{ tenantInstance.getTakenSpots() }}/{{ tenantInstance.getTotalSpots() }} places occupées</p>
    <p class="widget-text">??? usagers aujourd'hui</p>
    <!--<p class="widget-text">??? utilisateurs enregistrés</p>-->

    <a class="bx--btn bx--btn--secondary" href="{{ url_for("zones.create_zone") }}">
        Créer
    </a>

    <a class="bx--btn bx--btn--primary" type="button" href="{{ url_for("configuration") }}">
        Gérer
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
            <polygon points="9.3,3.7 13.1,7.5 1,7.5 1,8.5 13.1,8.5 9.3,12.3 10,13 15,8 10,3 "/>
        </svg>
    </a>
          

</div>
    
    
    