{% extends "base.html" %}

{% block title %}Zones de parkings{% endblock %}

<!-- map inclusions -->
{% block extra_inclusions %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}



{% block content %}

<div class="bx--data-table-container" data-table>
    <div class="bx--data-table-header">
        <h4 class="bx--data-table-header__title">Liste des zones</h4>
        <p class="bx--data-table-header__description">{{ tenantInstance.name }}</p>
    </div>
    <!-- Toolbar Content -->
    <section class="bx--table-toolbar ">
        <!-- Batch actions -->
        <div class="bx--batch-actions" aria-label="Table Action Bar">
            <div class="bx--action-list">
            <button class="bx--btn bx--btn--primary" type="button">
                Supprimer
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M6 6H7V12H6zM9 6H10V12H9z"></path><path d="M2 3v1h1v10c0 .6.4 1 1 1h8c.6 0 1-.4 1-1V4h1V3H2zM4 14V4h8v10H4zM6 1H10V2H6z"></path></svg>
            </button>
            <button data-event="action-bar-cancel" class="bx--btn bx--btn--primary bx--batch-summary__cancel">Cancel</button>
            </div>
        <div class="bx--batch-summary">
            <p class="bx--batch-summary__para">
            <span data-items-selected>3</span> items selected
        </p>
        </div>
        </div>

        <div class="bx--toolbar-content">
            <!--  Default hidden search -->

            <!-- Persistent Search -->
            <div class="bx--toolbar-search-container-persistent">
                <div data-search class="bx--search bx--search--sm" role="search">
                <div class="bx--search-magnifier">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M15,14.3L10.7,10c1.9-2.3,1.6-5.8-0.7-7.7S4.2,0.7,2.3,3S0.7,8.8,3,10.7c2,1.7,5,1.7,7,0l4.3,4.3L15,14.3z M2,6.5	C2,4,4,2,6.5,2S11,4,11,6.5S9,11,6.5,11S2,9,2,6.5z"></path></svg>
                </div>
                <label id="search-input-label-1" class="bx--label" for="search__input-2">Recherche</label>
                <input class="bx--search-input" type="text" id="search__input-2" role="search" placeholder="Recherche" aria-labelledby="search-input-label-1">
                <button class="bx--search-close bx--search-close--hidden" title="Clear search input" aria-label="Clear search input">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12 4.7L11.3 4 8 7.3 4.7 4 4 4.7 7.3 8 4 11.3 4.7 12 8 8.7 11.3 12 12 11.3 8.7 8z"></path></svg>
                </button>
                </div>
            </div>
    
            <!--  Toolbar primary button -->
            <a class="bx--btn bx--btn--sm bx--btn--primary" href="{{ url_for("zones.create_zone") }}">
            Nouvelle zone
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M17 15L17 7 15 7 15 15 7 15 7 17 15 17 15 25 17 25 17 17 25 17 25 15 17 15z"></path></svg>
            </a>
        </div>
    </section>
    <!-- End Toolbar Content -->

    <!-- Table -->
    <table class="bx--data-table tr bx--data-table--sort" >
        <thead>
            <tr>
                <th  class="bx--table-expand" data-event="expandAll">
                        <!-- checkbox th -->
                        <!-- sortable th  -->
                        <span class="bx--table-header-label"></span>
                </th>
                <th  class="bx--table-column-checkbox">
                    <!-- checkbox th -->
                    <input data-event="select-all" id="bx--checkbox-20" class="bx--checkbox" type="checkbox" value="green" name="checkbox-20">
                    <label for="bx--checkbox-20" class="bx--checkbox-label" aria-label="Label name"></label>
                </th>
                <th >
                    <!-- checkbox th -->
                    <!-- sortable th  -->
                        <button class="bx--table-sort" data-event="sort" title="Identifier">
                        <span class="bx--table-header-label">Nom</span>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path></svg>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path></svg>
                        </button>
                    <!-- no sort th -->
                </th>
                <th >
                    <!-- checkbox th -->
                    <!-- sortable th  -->
                        <button class="bx--table-sort" data-event="sort" title="Name">
                        <span class="bx--table-header-label">Description</span>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path></svg>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path></svg>
                        </button>
                    <!-- no sort th -->
                </th>
                <th >
                    <!-- checkbox th -->
                    <!-- sortable th  -->
                        <button class="bx--table-sort" data-event="sort" title="Type">
                        <span class="bx--table-header-label">Type</span>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path></svg>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path></svg>
                        </button>
                    <!-- no sort th -->
                </th>
                <th >
                    <!-- checkbox th -->
                    <!-- sortable th  -->
                        <button class="bx--table-sort" data-event="sort" title="Places">
                        <span class="bx--table-header-label">Places</span>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path></svg>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path></svg>
                        </button>
                    <!-- no sort th -->
                </th>
                <th >
                    <!-- checkbox th -->
                    <!-- sortable th  -->
                        <button class="bx--table-sort" data-event="sort" title="Available">
                        <span class="bx--table-header-label">Disponibles</span>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path></svg>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path></svg>
                        </button>
                    <!-- no sort th -->
                </th>
                <th >
                    <!-- checkbox th -->
                    <!-- sortable th  -->
                        <button class="bx--table-sort" data-event="sort" title="Informations">
                        <span class="bx--table-header-label">Informations</span>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12.3 9.3L8.5 13.1 8.5 1 7.5 1 7.5 13.1 3.7 9.3 3 10 8 15 13 10z"></path></svg>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-sort__icon-unsorted" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M13.8 10.3L12 12.1 12 2 11 2 11 12.1 9.2 10.3 8.5 11 11.5 14 14.5 11zM4.5 2L1.5 5 2.2 5.7 4 3.9 4 14 5 14 5 3.9 6.8 5.7 7.5 5z"></path></svg>
                        </button>
                    <!-- no sort th -->
                </th>
                <th  class="bx--table-column-menu">
                    <!-- checkbox th -->
                </th>
            </tr>
        </thead>


        <!-- HERE COMES THE INCLUSION OF THE ELEMENTS -->

        
        <tbody>

            {% for item in tenantInstance.zones %}
                {% include "zone_element.html" %}
            {% endfor %}

        </tbody>


        <!------------------------------------------------>

    </table>

    <!-- Pagination -->
    <div class="bx--pagination" data-pagination>
        <div class="bx--pagination__left">

            <!-- items per page (limit) -->
            <label
                id="select-id-pagination-count-label"
                class="bx--pagination__text"
                for="select-id-pagination-count"
            >
                Élements par page:
            </label>
            <div class="bx--select bx--select--inline bx--select__item-count">
                <form method="GET" id="pagesize-form" name="pagesize-form">
                    <select
                    class="bx--select-input"
                    id="pagesize"
                    name="pagesize"
                    aria-label="select number of items per page"
                    tabindex="0"
                    data-items-per-page>
                    <option class="bx--select-option" value="20" {% if pagination.page_size == 20 %}selected{% endif %}>20</option>
                    <option class="bx--select-option" value="30" {% if pagination.page_size == 30 %}selected{% endif %}>30</option>
                    <option class="bx--select-option" value="40" {% if pagination.page_size == 40 %}selected{% endif %}>40</option>
                    <option class="bx--select-option" value="50" {% if pagination.page_size == 50 %}selected{% endif %}>50</option>
                    </select>
                </form>
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true"><path d="M5 6L0 1 0.7 0.3 5 4.6 9.3 0.3 10 1z"></path></svg>
            </div>

            <!-- Pagination informations -->
            <span class="bx--pagination__text">
                <span data-displayed-item-range>{{ pagination.page_size*(pagination.page_number-1) + 1 }}-{{ (pagination.page_size*pagination.page_number) }}</span> de
                <span data-total-items>{{ pagination.elements_number }}</span> éléments
            </span>
        </div>

        <!-- Page selection (offset) -->
        <div class="bx--pagination__right">
            <div class="bx--select bx--select--inline bx--select__page-number">
                <form name="page-form" id="page-form" method="GET">
                    <select
                    class="bx--select-input"
                    id="page"
                    name="page"
                    aria-label="select page number to view"
                    tabindex="0"
                    onchange="submit_offset()"
                    data-page-number-input>
                        {% for i in range (1, pagination.max_pages+1) %}
                            {% if i == pagination.page_number %}
                                <option class="bx--select-option" value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
                                <option class="bx--select-option" value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true"><path d="M5 6L0 1 0.7 0.3 5 4.6 9.3 0.3 10 1z"></path></svg>
            </div>

            <label id="select-id-pagination-page-label" class="bx--pagination__text" for="select-id-pagination-page">
                sur {{ pagination.max_pages }} pages
            </label>

            <!-- Page navigation buttons -->
            {% if pagination.page_number > 1 %}
                <a href="{{ url_for("zones", page=pagination.page_number-1 )}}" class="bx--pagination__button bx--pagination__button--backward" tabindex="0" data-page-backward aria-label="Backward button">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M19 23L11 16 19 9 19 23z"></path></svg>
                </a>
            {% endif %}
            {% if pagination.page_number < pagination.max_pages %}
                <a href="{{ url_for("zones", page=pagination.page_number+1 )}}" class="bx--pagination__button bx--pagination__button--forward" tabindex="0" data-page-forward aria-label="Forward button">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination__nav-arrow" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M13 9L21 16 13 23 13 9z"></path></svg>
                </a>
            {% endif %}
        </div>

</div>

<script type="text/javascript">
    window.zones = {{ zonesList | tojson }};
</script>

<script type="text/javascript" src="/static/js/map_zone_elements.js"></script>
<script type="text/javascript" src="/static/js/pagination.js"></script>
<script type="text/javascript" src="https://unpkg.com/@carbon/charts/bundle.js"></script>
<script type="text/javascript" src="/static/js/charts_ratio_donut.js"></script>

{% endblock %}