
<form class="sp-formular" action="create_zone" method="post">
    {{ form.csrf_token }}

    <h3>Création d'une zone de parking</h3>

    <section>
      <!-- Name of the zone -->
      {{ form.name }}

      {{ form.type }}

      <!-- Color associated with the zone -->
      <div class="bx--form-item">
          <label for="select-id" class="bx--label">Couleur</label>
          <div class="bx--form__helper-text">
              Choisissez une couleur associée à la zone. Cela facilitera sa reconnaissance sur les cartes.
          </div>
          <input type="color" name="color" value="#ff0000" required>
      </div>

      <!-- Geographic area selection -->
      <div class="bx--form-item">
          <div id='map' class="zone-creation-map"></div>
          <script src='/static/js/map_draw_polygon.js'></script>
          {{ form.polygon }}
      </div>

      {{ form.submit }}

</form>
