
<div class="zone-config-part">
    <a name="general"></a> 
    <h4>Général</h4>
    <br>
    <p class="zone-config-field">
        <label>Nom:</label> {{ zoneName }}
        <button class="bx--btn bx--btn--ghost bx--btn--sm zone-modify-button" type="button" onclick="modify_name()">
            modifier
        </button>
    </p>
    <p class="zone-config-field">
        <label>Description:</label> une belle zone de parking.
        <button class="bx--btn bx--btn--ghost bx--btn--sm zone-modify-button" type="button" onclick="modify_name()">
            modifier
        </button>
    </p>
    <div id="validate-general">

    </div>
</div>

<div class="zone-config-part">

    <a name="spots"></a> 
    <h4>Gérer les places</h4>
    <br>
    <div id='map' class="spot-config-map"></div>

    <script type="text/javascript">
        window.spots = {{ spotList | tojson }};
        window.polygon = {{ zonePolygon | tojson }};
    </script>

    <script type="text/javascript" src="/static/js/map_spot_list.js"></script>
    <script type="text/javascript" src="/static/js/map_spot_adding.js"></script>
   
    <div id="validate-spots">
        <a class="bx--btn bx--btn--primary" type="button" href="submit-spots">
            Enregistrer
        </a>
    </div>

</div>

<script type="text/javascript">
    var modify = false;
    var button = document.createElement('button');
    button.textContent = "Enregistrer";
    button.className = "bx--btn bx--btn--primary";
    button.type = "submit";
    
    function modify_name() {
        if (!modify) {
            modify = true;
            document.getElementById('validate-general').append(button);
        }
    }
</script>