            
        <tr class="bx--parent-row" data-parent-row >

            <!-- expand icon td -->
            <td class="bx--table-expand" data-event="expand">
                <button class="bx--table-expand__button">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-expand__svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
                </button>
            </td>
            
            <!-- checkbox td -->
            <td class="bx--table-column-checkbox">
                <input data-event="select" id="bx--checkbox-13" class="bx--checkbox" type="checkbox" value="green" name="checkbox-13" >
                <label for="bx--checkbox-13" class="bx--checkbox-label" aria-label="Label name"></label>
            </td>
            <!-- inline action td's -->
            <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                {{ item.name }}
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                {{ item.desc }}
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                {{ item.type }}
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                {{ item.getNbTotalSpots() }}
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                {{ item.getNbTotalSpots() - item.getNbTakenSpots() }}
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                RAS
            </td>

            <!-- expand icon td -->
            <td class="bx--table-column-menu">
                <div data-overflow-menu role="menu" tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--overflow-menu__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><circle cx="8" cy="3" r="1"></circle><circle cx="8" cy="8" r="1"></circle><circle cx="8" cy="13" r="1"></circle></svg>
                    <ul class="bx--overflow-menu-options bx--overflow-menu--flip">

                        <li class="bx--overflow-menu-options__option bx--table-row--menu-option">
                        <a href="{{ url_for("zones.config", zone_id=item.id) }}" class="bx--overflow-menu-options__btn" onclick="console.log('keyboard action')">
                            <div class="bx--overflow-menu-options__option-content">
                            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M1 13H15V14H1zM12.7 4.5c.4-.4.4-1 0-1.4 0 0 0 0 0 0l-1.8-1.8c-.4-.4-1-.4-1.4 0 0 0 0 0 0 0L2 8.8V12h3.2L12.7 4.5zM10.2 2L12 3.8l-1.5 1.5L8.7 3.5 10.2 2zM3 11V9.2l5-5L9.8 6l-5 5H3z"></path></svg> 
                            Editer
                            </div>
                        </a>
                        <li class="bx--overflow-menu-options__option bx--table-row--menu-option">
                        <a href="{{ url_for("zones.remove", zone_id=item.id) }}" class="bx--overflow-menu-options__btn">
                            <div class="bx--overflow-menu-options__option-content">
                            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M6 6H7V12H6zM9 6H10V12H9z"></path><path d="M2 3v1h1v10c0 .6.4 1 1 1h8c.6 0 1-.4 1-1V4h1V3H2zM4 14V4h8v10H4zM6 1H10V2H6z"></path></svg> 
                            Supprimer
                            </div>
                        </a>
                        </li>

                    </ul>
                </div>
            </td>
        
        </tr>

        <!-- Expandable child row -->
        <tr class="bx--expandable-row bx--expandable-row--hidden" data-child-row="">
            <td colspan="8">
                <div class="bx--child-row-inner-container">
                    <div class="zone-inner-col">
                        <h5>Informations</h5>
                        <p>Bientôt...</p>
                    </div>
                    <div class="zone-inner-col">
                        <h5>Emplacement</h5>
                        <div id='map-{{ item.id }}' class="zone-element-map"></div>
                    </div>
                    <div class="zone-inner-col">
                        <h5>Utilisation de la zone</h5>
                        {% include "zone_element_graphic.html" %}
                    </div>
                </div>
            </td>

        </tr>
