
<form class="sp-formular" action="create_zone" method="post">
    {{ form.csrf_token }}

    <h3>Création d'une zone de parking</h3>

    <section>
      <!-- Name of the zone -->
      {{ form.name }}

      {{ form.type }}

      {{ form.color }}

      <!-- Geographic area selection -->
      <div class="bx--form-item">
          <div id='map' class="zone-creation-map"></div>
          <script src='/static/js/map_draw_polygon.js'></script>
          {{ form.polygon }}
      </div>

      {{ form.submit }}
      
    </section>

</form>
