            
        <tr class="bx--parent-row" data-parent-row >

            <!-- expand icon td -->
            <td class="bx--table-expand" data-event="expand">
                <button class="bx--table-expand__button">
                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--table-expand__svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
                </button>
            </td>
            
            <!-- checkbox td -->
            <td class="bx--table-column-checkbox">
                <input data-event="select" id="bx--checkbox-13" class="bx--checkbox" type="checkbox" value="green" name="checkbox-13" >
                <label for="bx--checkbox-13" class="bx--checkbox-label" aria-label="Label name"></label>
            </td>
            <!-- inline action td's -->
            <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                GARE1
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                Parking de la gare
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                Payant
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                350
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                312
            </td>
                    <!-- expand icon td -->
            <td >
                <!-- truncated new markup -->
                RAS
            </td>
        </tr>

        <!-- Expandable child row -->
        <tr class="bx--expandable-row bx--expandable-row--hidden" data-child-row="">
            <td colspan="8">
                <div class="bx--child-row-inner-container">
                    <p>A variety of content types can live here. Be sure to follow Carbon design guidelines for spacing and alignment.</p>
                </div>
            </td>
        </tr>
