<form class="sp-formular" action="/login-check" method="post">
    
    <h3>Formulaire de connexion</h3>

    <br>

    <div class="bx--form-item bx--text-input-wrapper">
            <label for="text-input" class="bx--label">Identifiant</label>
            <div class="bx--text-input__field-wrapper">
              <input id="text-input" type="text" class="bx--text-input" name="login" placeholder="Indentifiant">
            </div>
    </div>

    <div class="bx--form-item bx--text-input-wrapper">
        <label for="pass-input" class="bx--label">Mot de passe</label>
        <div class="bx--text-input__field-wrapper">
            <input id="pass-input" type="password" class="bx--text-input" name="passwd" placeholder="Mot de passe">
        </div>
    </div>
    <br>
    <button class="bx--btn bx--btn--primary" type="submit">
        Connexion
    </button>

</form>