<header class="bx--header" role="banner">
  <a class="bx--header__name" href="/home">
    <!--<img src="/static/img/sp-logo.png" width="28" height="28"> -->
    <span class="bx--header__name--prefix">Smart</span>
    Park
  </a>

  <nav class="bx--header__nav">
    <ul class="bx--header__menu-bar" role="menubar">
      <li>
        <a class="bx--header__menu-item" role="menuitem" href="/dashboard">
          Tableau de bord
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="/zones">
          Zones
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem">
          Cartes
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem">
          Statistiques
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem">
          Configuration
        </a>
      </li>

      <li class="bx--header__submenu">
        <a aria-expanded="false" aria-haspopup="menu" class="bx--header__menu-item bx--header__menu-title" role="menuitem">
          Plus
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true" class="bx--header__menu-arrow" style="will-change: transform;"><path d="M5 6L0 1 .7.3 5 4.6 9.3.3l.7.7z"></path></svg>
        </a>

        <ul class="bx--header__menu" role="menu">
          <li>
            <a class="bx--header__menu-item" role="menuitem">
                A propos
            </a>
          </li>
          <li>
            <a class="bx--header__menu-item" role="menuitem">
                Carrières
            </a>
          </li>
          <li>
            <a class="bx--header__menu-item" role="menuitem">
                Contact
            </a>
          </li>
          <li>
            <a class="bx--header__menu-item" role="menuitem">
                Problèmes
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="bx--header__global">
    <ul class="bx--header__menu-bar" role="menubar">
      <li>
        <a class="bx--header__menu-item" role="menuitem" href="/signup">
          Inscription
        </a>
      </li>

      <li>
        <a class="bx--header__menu-item" role="menuitem" href="/login">
          Connexion
        </a>
      </li>
    </ul>
  </div>
</header>
