<div class="bx--tile parking-widget">
    
    <a href="">
        <h4 id="widget-title">Parking de la gare <b>></b></h4>
    </a>
    
    <div data-loading class="bx--loading--small">
        <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
            <circle class="bx--loading__background" cx="0" cy="0" r="37.5" />
            <circle class="bx--loading__stroke" cx="0" cy="0" r="37.5" />
        </svg>
    </div>
    <p class="widget-text">32/48 places occupées</p>

    <p class="widget-text">137 usagers aujourd'hui</p>

    <div class="parking-widget-status-btn bx--btn bx--btn--danger bx--btn--sm">
        <p>2 capteurs déconnectés</p>
    </div>

</div>


