<form class="sp-formular" action="/signup-check" method="post">
    
    <h3>Formulaire d'inscription</h3>

    <br>

    <div class="bx--form-item bx--text-input-wrapper">
            <label for="text-input-1" class="bx--label">Identifiant</label>
            <div class="bx--text-input__field-wrapper">
              <input id="text-input-1" type="text" class="bx--text-input" name="login" placeholder="Indentifiant">
            </div>
    </div>
    
    <div class="bx--form-item">
        <div class="bx--select">
            <label for="select-id" class="bx--label">Votre ville</label>
            <div class="bx--select-input__wrapper">
                <select id="select-id" class="bx--select-input ">
                    <option class="bx--select-option" value="" disabled selected hidden>Choisissez une option</option>  
                    <option class="bx--select-option" value="option1" >Schmilbligheim</option>           
                    <option class="bx--select-option" value="option2" >Switchwiller</option>  
                    <option class="bx--select-option" value="option3" >Programmhousen</option>          
                    <option class="bx--select-option" value="option4" >Dockerhoffen</option>
                    <option class="bx--select-option" value="option5" >Sysbach</option>
                </select>
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true">
                    <path d="M5 6L0 1 0.7 0.3 5 4.6 9.3 0.3 10 1z"></path>
                </svg>
            </div>
        </div>
    </div>
    
    <div class="bx--form-item bx--text-input-wrapper">
        <label for="text-input-2" class="bx--label">Mot de passe</label>
        <div class="bx--text-input__field-wrapper">
            <input id="text-input-2" type="password" class="bx--text-input" name="passwd" placeholder="Mot de passe">
        </div>
    </div>

    <div class="bx--form-item bx--text-input-wrapper">
        <label for="text-input-3" class="bx--label">Confirmer mot de passe</label>
        <div class="bx--text-input__field-wrapper">
            <input id="text-input-3" type="password" class="bx--text-input" name="passwd" placeholder="Mot de passe">
        </div>
    </div>

    <br>
    <button class="bx--btn bx--btn--primary" type="submit">
        Connexion
    </button>

</form>