
.widget-text {
    margin-bottom: 3px;
}

h4 {
    font-weight: bold;
}

.bx--btn {
    margin-top: 5px;
    margin-right: 10px;
}

.dashboard-widgets {
    margin-left: 10%;
    margin-right: 10%;
}

.graphic-widget {
    min-height: 233px;
    display: inline-block;
    margin-right: 20px;
    min-width: 285px;
    width: 65%;
    margin-top: 20px;
}

.summary-widget {
    min-width: 285px;
    width: 30%;
    min-height: 233px;
    margin-top: 20px;
    /*display: inline-block;*/
    float: right;
}

.parking-widget {
    width: 285px;
    overflow: auto;
    display: inline-block;
    margin-right: 20px; /* auto not working */
    margin-left: auto;
    margin-top: 20px;
}

.parking-widget-status-btn {
    margin: 0;
}

/* DASHBOARD MEDIA QUERY */
@media screen and (max-width: 1210px){
    .dashboard-widgets {
        margin: 0;
    }
    .graphic-widget {
        width: 100%;
    }
    .summary-widget {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
}


.sp-formular {
    text-align: center;
    padding: 15px;
    max-width: 450px;
    display: block;
    margin: auto;
}


/* ZONES */
.stats-widget {
    min-width: 285px;
    min-height: 233px;
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.zone-inner-col {
    display: inline-block;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    vertical-align: top;
}


/* CARTES */
.test-map {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
}