
.widget-text {
    margin-bottom: 3px;
}

h4 {
    font-weight: bold;
}

.bx--btn {
    margin-top: 5px;
    margin-right: 10px;
}

.dashboard-widgets {
    margin-left: 10%;
    margin-right: 10%;
}

.graphic-widget {
    min-height: 233px;
    display: inline-block;
    margin-right: 20px;
    min-width: 285px;
    width: 65%;
    margin-top: 20px;
}

.summary-widget {
    min-width: 285px;
    width: 30%;
    min-height: 233px;
    margin-top: 20px;
    /*display: inline-block;*/
    float: right;
}

.parking-widget {
    width: 285px;
    overflow: auto;
    display: inline-block;
    margin-right: 20px; /* auto not working */
    margin-left: auto;
    margin-top: 20px;
}

.parking-widget-status-btn {
    margin: 0;
}

/* DASHBOARD MEDIA QUERY */
@media screen and (max-width: 1210px){
    .dashboard-widgets {
        margin: 0;
    }
    .graphic-widget {
        width: 100%;
    }
    .summary-widget {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
}


.sp-formular {
    /*padding: 15px;*/
    max-width: 600px;
    display: block;
    margin: auto;
}
.bx--form-item {
    margin-top: 15px;
}


/* ZONES */
.stats-widget {
    min-width: 285px;
    min-height: 233px;
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.zone-inner-col {
    display: inline-block;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    vertical-align: top;
}

.zone-config-part {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.zone-menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    text-align: center;
}

.zone-config-field {
    vertical-align: middle;
}

.zone-modify-button {
    display: inline;
    margin: 0;
}
label {
    font-weight: bold;
}

/* CARTES */
.test-map {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
}

.zone-creation-map{
    top:0;
    bottom:0; 
    width:100%;
    max-width: 600px; 
    height: 400px;
}

.black-marker {
    background-image: url('../img/location-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'IBM Plex Sans';
}
  
.spot-list-map {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    height: 500px;
}

.spot-config-map {
    max-width: 1000px;
    height: 500px;
}